@import "../../assets/styles/_variables";
@import "../../assets/styles/_mixins";

.order {
  padding-left: 20px;

  &__column {
    max-width: 450px;
    width: 100%;
    margin: 31px 0;
    display: flex;
    flex-direction: column;

    &:last-of-type {
      margin-top: 80px;
    }
  }

  &__header {
    margin-bottom: 60px;
  }

  &__payment {
    @include two-columns;
    gap: 15px;
    margin-top: 10px;
    align-items: flex-start;
    box-sizing: border-box;
    width: 100%;
    max-width: 530px;
    border: 1px solid #000;
    padding: 25px;
  }

  &__overview-title {
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 0em;
    text-align: left;
    color: #272727;
  }
  &__image {
    margin-top: 20px;
  }

  &__overview-subtitle {
    font-size: 22px;
    font-weight: 500;
    line-height: 24px;
    color: $font-formsred;
    padding-bottom: 12px;
  }

  &__overview-paragraf {
    color: $font-inForm;
    font-size: 18px;
    font-style: normal;
    line-height: 21px;
    padding-bottom: 6px;
    background-repeat: no-repeat;
    background-position: 0px 2px;
    background-size: 15px 15px;
    padding-left: 31px;
    &_type_date {
      background-image: url("../../assets/svg/date.svg");
    }
    &_type_operations {
      background-image: url("../../assets/svg/check_circle_outline.svg");
    }
    &_type_time {
      background-image: url("../../assets/svg/time.svg");
    }
  }

  &__logo {
    width: 85px;
    height: 41px;
    background-image: url("../../assets/svg/logo-form.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &__title {
    font-family: "Forum", "Roman", serif;
    font-weight: 400;
    font-size: 50px;
    line-height: 55px;
    text-transform: uppercase;
    color: #9d8665;
  }

  &__paragraf {
    margin: 13px 0 9px 0;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    color: #710707;
  }

  &__line {
    width: 100%;
    height: 3px;
    background: #740c11;
    opacity: 0.9;
  }

  &__fieldset {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    padding: 0;
    margin: 0;
  }

  &__fieldset_type_tickets {
    padding: 10px 15px 15px 15px;
    border: none;
  }

  &__fieldset_type_detailes {
    margin-bottom: 20px;
    border: none;
    gap: 20px;
  }

  &__detailes {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  &__subtitle {
    font-family: "Forum", "Roman", serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: #9d8665;
    margin-bottom: 5px;
  }

  &__button {
    padding: 0;
    border: none;
    outline: none;
    background: none;
    width: 35px;
    height: 25px;
  }

  input,
  select {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
  }

  &__date,
  &__time {
    position: relative;
    max-width: 190px;
    width: 100%;
  }

  &__date {
  }

  &__input {
    width: 100%;
    margin: 0;
    height: 45px;
    border: 1px solid $font-inForm;

    &_type_email,
    &_type_tel,
    &_type_text {
      position: relative;
      padding-left: 42px;
    }

    &_type_date {
      box-sizing: border-box;
      text-align: center;
      padding-left: 43px;
      color: #ffffff;

      &::-webkit-calendar-picker-indicator {
        width: 35px;
        height: 41px;
        background: transparent;
        background-position: center center;
        background-image: url("../../assets/svg/time-date-arrow.svg");
        background-repeat: no-repeat;
        background-size: 17px 17px;
        z-index: 999;
        cursor: pointer;
      }

      &::after {
        content: url("../../assets/svg/date.svg");
        width: 15px;
        height: 15px;
        position: absolute;
        left: 15px;
      }

      &::before {
        content: attr(data-placeholder);
        position: absolute;
        @include input-text;
        font-size: 18px;
      }

      &:focus,
      &:valid {
        color: $font-inForm;
      }

      &:focus::before,
      &:valid::before {
        content: "";
      }
    }

    &_type_time {
      box-sizing: border-box;
      padding-left: 43px;
      text-align: center;
      @include input-text;

      & option {
        background-color: white;
        z-index: 1500;
      }

      &:focus,
      &:valid {
        color: $font-inForm;
      }
    }
  }

  &__email {
    position: relative;

    &::after {
      content: url("../../assets/svg/date.svg");
      width: 16px;
      height: 16px;
      position: absolute;
      left: 15px;
      top: 13px;
      z-index: 999;
    }
  }

  &__text {
    position: relative;

    &::after {
      content: url("../../assets/svg/name.svg");
      width: 16px;
      height: 16px;
      position: absolute;
      left: 15px;
      top: 11px;
      z-index: 999;
    }
  }

  &__tel {
    position: relative;

    &::after {
      content: url("../../assets/svg/tel.svg");
      width: 16px;
      height: 16px;
      position: absolute;
      left: 15px;
      top: 9px;
      z-index: 999;
    }
  }

  &__time {
    height: 45px;
    position: relative;

    &::before {
      content: url("../../assets/svg/time.svg");
      width: 15px;
      height: 15px;
      position: absolute;
      left: 15px;
      top: 15px;
      z-index: 1400;
    }

    &::after {
      content: "Time";
      position: absolute;
      @include input-text;
      font-size: 18px;
      z-index: 400;
      top: 11px;
      left: 45px;
    }

    &.tool::after {
      content: "";
    }
  }

  &__arrow {
    position: absolute;
    right: 2px;
    top: 3px;
    width: 35px;
    height: 40px;
    background: #fff;
    background-position: center center;
    background-image: url("../../assets/svg/time-date-arrow.svg");
    background-repeat: no-repeat;
    background-size: 17px 17px;
    z-index: 999;
    pointer-events: none;
    cursor: pointer;
  }

  &__error {
    color: red;
    display: none;

    &_active {
      display: inline;
    }
  }

  &__select_types {
    width: 100%;
    margin: 0;
    height: 45px;
    border: 1px solid $font-inForm;
    padding-left: 40px;
  }

  &__types {
    position: relative;

    &::after {
      content: url("../../assets/svg/ballot.svg");
      width: 16px;
      height: 16px;
      position: absolute;
      left: 15px;
      top: 14px;
      z-index: 999;
    }
  }

  &__columns {
    @include two-columns;
    padding-top: 0;

    @media (max-width: $breakpoint_large) {
      padding-top: 0;
    }
  }

  &__count {
    max-width: 180px;

    p {
      font-family: Roboto;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 21px;
      color: $font-inForm;
      margin-bottom: 14px;
      margin-top: 14px;
      padding-bottom: 0;
    }

    button {
      background-color: #000;
      color: $font-light;
      max-height: 25px;
      font-size: 14px;
      line-height: 14px;
    }

    input {
      max-height: 25px;
      font-size: 14px;
    }

    div {
      border: 1px solid #000;
      width: 105px;
      display: flex;
      align-items: center;
      margin-bottom: 16px;
      box-sizing: border-box;
      font-size: 12px;

      &:nth-of-type(2) {
        margin-bottom: 16px;
      }
    }

    div:hover {
      color: $font-light;
      border: 1px solid #000;
    }

    div:hover > input {
      color: #000 !important;
    }

    div:hover > button {
      color: #fff !important;
    }
  }

  &__form {
    display: flex;
    gap: 30px;
    justify-content: center;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  ::placeholder {
    @include input-text;
  }
}
