@import "../../assets/styles/_variables";
@import "../../assets/styles/_mixins";

.header {
  background-color: $bg-dark;
  width: 100%;
  padding: 59px 0 58px 0;
  position: relative;

  @include media($breakpoint_large) {
    padding: 49px 0 48px 0;
  }

  @include media($breakpoint_middle) {
    padding: 33px 0 32px 0;
  }

  @include media($breakpoint_small) {
    padding: 33px 0 38px 0;
  }
}
