@import "./_variables";

@mixin media($breakpoint) {
  @media screen and (max-width: $breakpoint) {
    @content;
  }
}

@mixin two-columns {
  width: 100%;
  display: flex;
  column-gap: 60px;
  flex-basis: calc(50% - 30px);
  padding-top: 103px;

  @media (max-width: $breakpoint_large) {
    column-gap: 40px;
    flex-basis: auto;
    padding-top: 63px;
  }
}

@mixin container {
  box-sizing: border-box;
  max-width: 1440px;
  margin: 0 auto;
  min-width: 0;
  width: 100%;

  @media (max-width: 1500px) {
    padding: 0 20px;
  }

  @media (max-width: $breakpoint_large) {
    max-width: 100%;
    padding: 0 20px;
  }
}

@mixin logo {
  width: 50px;
  height: 34px;
  background-image: url(../../assets/svg/logo.svg);

  @media (max-width: 450px) {
    width: 32px;
    height: 24px;
  }
}

@mixin section {
  box-sizing: border-box;
  width: 100%;
  padding: 75px 0;

  a {
    text-decoration: none;
  }

  p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    color: $font-dark;
    font-size: $font3;
  }

  h2 {
    font-family: "Forum", "Roman", serif;
    font-weight: normal;
    font-size: $font1;
    line-height: 1.125;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: $font-gold;

    @media (max-width: $breakpoint_large) {
      font-size: 50px;
      font-weight: 400;
      line-height: 90px;
    }

    @media (max-width: $breakpoint_middle) {
      font-size: 40px;
      line-height: 60px;
      text-align: center;
    }

    @media (max-width: $breakpoint_small) {
      font-size: 28px;
      line-height: 40px;
      letter-spacing: 5px;
    }
  }

  @media (max-width: $breakpoint_large) {
    padding: 52px 0;
  }
}

@mixin dark-section {
  background-color: $bg-dark;
  color: $font-light;

  p {
    color: $font-light;
  }

  h2 {
    color: $font-light;
  }
}

@mixin social-list {
  list-style: none;
  display: flex;
  align-self: flex-end;
  justify-self: flex-end;
  min-width: 340px;
  justify-content: space-between;

  @media (max-width: $breakpoint_middle) {
    min-width: 240px;
  }
}

@mixin social-link {
  display: block;
  width: 48px;
  height: 48px;
  border: 1px solid #fff;
  border-radius: 50%;
  margin-bottom: 23px;
  transition: 0.5s linear;

  &:hover {
    filter: invert(53%) sepia(46%) saturate(256%) hue-rotate(356deg)
      brightness(93%) contrast(89%);
  }

  &:active {
    filter: invert(43%) sepia(6%) saturate(1946%) hue-rotate(357deg)
      brightness(95%) contrast(83%);
  }
}

@mixin youtube-link {
  background-image: url("../../assets/svg/Youtube.svg");
}
@mixin twitter-link {
  background-image: url("../../assets/svg/Twitter.svg");
}
@mixin pinterest-link {
  background-image: url("../../assets/svg/Pinterest.svg");
}
@mixin instagram-link {
  background-image: url("../../assets/svg/Instagram.svg");
}
@mixin facebook-link {
  background-image: url("../../assets/svg/Facebook.svg");
}
