body {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 300;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* :root {
    --gold-hover: #9D8665;
    --gold-active: #7E6C51;
    --progress-el:#710707;
    --bt-gray: #C4C4C4;
    --font-dark: #000000;
    --font-inForm: #030303;
    --font-formsred: #740C11;
    
      --bg-dark: #030303;
      --dark-red: #710707;
      --bt-blue: #24809E;
     
      --font-gold: #9d8665;
      --font-accent: #CAAA7D;
    
      --font-light: #FFFFFF;
    
      --font1: 80px;
      --font2: 32px;
      --font3: 22px;
      --font4: 18px;
      --font-logo: 28px;
    }*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul,
ol {
  padding: 0;
}

@keyframes vanishing {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    display: none;
    transform: scale(0.5);
  }
}

.animation_vanishing {
  animation: vanishing 0.7s ease-in-out forwards;
}
