body {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 300;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul,
ol {
  padding: 0;
}

@keyframes vanishing {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    display: none;
    transform: scale(0.5);
  }
}

.animation_vanishing {
  animation: vanishing 0.7s ease-in-out forwards;
}

@keyframes scroll {
  0% {
    transform: translate(0px, 40% ) scale(0.8);
    }
      
    100%{
      transform: translate(0px, 0px ) scale(1);
      opacity: 1;
    }
  }
  .animation_scroll {
    opacity: 1;
    animation: scroll 1s ease-out    forwards;
  }
