@import "../../assets/styles/_variables";
@import "../../assets/styles/_mixins";

.explore {
  @include section;
  @include dark-section;

  &__accent {
    color: $font-accent;
  }

  &__paragraf {
    font-size: var(--font3);
    font-style: normal;
    font-weight: 300;
    line-height: 39px;
    text-align: left;
    padding-bottom: 25px;
    padding-right: 60px;

    &:last-of-type {
      @media (max-width: $breakpoint_large) {
        display: none;
      }
    }

    @media (max-width: $breakpoint_large) {
      font-size: 20px;
      line-height: 38px;
      padding-bottom: 0;
    }

    @media (max-width: $breakpoint_middle) {
      display: none;
    }
  }

  &__container {
    @include container;
    display: flex;

    @media (max-width: $breakpoint_large) {
      flex-direction: column;
    }
  }

  &__text {
    width: 50%;

    @media (max-width: $breakpoint_xxl) {
      width: 100%;
      margin: 0 auto;
    }
  }

  &__title {
    position: relative;
    padding-bottom: 103px;

    @media (max-width: $breakpoint_large) {
      position: relative;
      padding-bottom: 75px;
    }

    @media (max-width: $breakpoint_middle) {
      text-align: left;
      font-size: 40px;
      padding-bottom: 63px;
      line-height: 60px;
      letter-spacing: 5px;
    }

    @media (max-width: $breakpoint_small) {
      padding-bottom: 65px;
      font-family: Forum;
      font-size: 28px;
      line-height: 40px;
    }
  }

  &__title:after {
    content: "";
    position: absolute;
    top: 115px;
    left: 0;
    right: 0;
    height: 3px;
    width: calc(100% - 60px);
    background-color: $dark-red;

    @media (max-width: $breakpoint_xxl) {
      width: 100%;
    }

    @media (max-width: $breakpoint_large) {
      top: 100px;
    }

    @media (max-width: $breakpoint_middle) {
      top: 80px;
    }

    @media (max-width: $breakpoint_small) {
      top: 60px;
    }
  }

  @media (max-width: $breakpoint_xxl) {
    padding-bottom: 0;
    padding-top: 40px;
  }

  @media (max-width: $breakpoint_small) {
    padding-bottom: 34px;
  }
}

.explore-slider {
  padding-bottom: 48.61%;
  width: 50%;
  position: relative;
  height: auto;

  max-width: 720px;
  max-height: 700px;
  box-sizing: border-box;
}

@media (max-width: 1500px) {
  .explore-slider {
    margin: 0 auto;
    width: 100%;
    padding-bottom: 97.22%;
    margin-top: 0;
    margin-bottom: 0;
    max-height: 700px;
  }
}
.explore-slider {
  &__image {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  &__new-image {
    display: block;
  }

  &__image img {
    object-fit: contain;
    height: auto;
    object-position: center;
  }

  &__separator {
    position: absolute;
    background-image: url("../../assets/explore-slider.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    width: 39px;
    max-height: 700px;
    z-index: 2000;
    top: 0;
    left: calc(50%);
    bottom: 0;
    height: 100%;
    cursor: ew-resize;
  }
}
